body{
text-align: center;

}
h1{
    font-size:40px;
    line-height:1.2;
    font-family:serif;
    font-weight:400;
    text-align: center;
    }

.line{
    height:6px;
    width:70px;
    background-color:black;
    margin:6px auto;
    }
#apps{
    width: 100%;
    background-color: aqua;
    
}
#games{
    width: 100%;
    background-color:burlywood;
    
}
#chatbot{
    width: 100%;
    background-color:goldenrod;
    
}
img{
transition:transform .2s;
}
img:hover{
    transform: scale(.9);
    cursor:progress;
}